# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/
.eggs/

# Ambientes virtuais
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Dados sensíveis ou grandes (não versionar raw se for grande)
# data/raw/*.csv  # mantendo versionado por ser pequeno (<5MB)

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Modelos treinados pesados
models/*.pkl
models/*.joblib
